<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csti.eyefind"
    android:versionCode="1"
    android:versionName="1.0.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="true">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OverviewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.DetailActivity"
            android:parentActivityName=".activities.OverviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.NotificationActivity"
            android:parentActivityName=".activities.OverviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.I_push_thing"
            android:parentActivityName=".activities.OverviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.I_pick_thing"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.MyProperty" android:screenOrientation="portrait"/>
        <activity android:name=".activities.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.UserActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activities.MyLostDetailActivity" android:screenOrientation="portrait"/>

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.csti.eyefind.BmobContentProvider" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.csti.eyefind.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- TODO 集成：1.2、添加推送所需要的服务和广播 -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":bmobpush">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service> <!-- 用于进程保活 -->
        <service
            android:name="cn.bmob.push.lib.service.PushNotifyService"
            android:process=":bmobpush" />

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>

                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver> <!-- 第3步中创建的消息接收器，在这里进行注册 -->
        <receiver android:name=".activities.MyPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver> <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程 -->
        <receiver
            android:name="cn.bmob.push.PushNotifyReceiver"
            android:process=":bmobpush">
            <intent-filter>

                <!-- 接收心跳广播的action -->
                <action android:name="cn.bmob.push.action.HEARTBEAT" />
                <!-- 接收唤醒广播的action -->
                <action android:name="cn.bmob.push.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

    </application>

</manifest>
